<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MochiApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Mochi"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Mochi">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- MAL OAuth redirect: mochi://oauth -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mochi" android:host="oauth" />
            </intent-filter>
        </activity>
    </application>
</manifest>